In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df1

    A   B
0  A0  B0
1  A1  B1

In [4]:
df2 = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})
df2

    A   B
0  A2  B2
1  A3  B3

In [5]:
re = pd.concat([df1, df2])
re

    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [13]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                     'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']})
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [15]:
right = pd.DataFrame({'key': ['K0', 'K1'], 'C': ['C0', 'C1']})
right

  key   C
0  K0  C0
1  K1  C1

In [16]:
re = pd.merge(left, right, on=["key"])
re

  key   A   B   C
0  K0  A0  B0  C0
1  K1  A1  B1  C1

In [17]:
re = pd.merge(left, right, on=["key"], how="outer")
re

  key   A   B    C
0  K0  A0  B0   C0
1  K1  A1  B1   C1
2  K2  A2  B2  NaN