## df.query()

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'A': range(1, 6),
                   'B': range(10, 0, -2),
                   'C C': range(10, 5, -1)})
df

   A   B  C C
0  1  10   10
1  2   8    9
2  3   6    8
3  4   4    7
4  5   2    6

上面这个式子等价于：

In [5]:
df = pd.DataFrame({'A': range(1, 6),
                   'B': range(10, 0, -2),
                   'C C': range(10, 5, -1)})
df

   A   B  C C
0  1  10   10
1  2   8    9
2  3   6    8
3  4   4    7
4  5   2    6

In [7]:
df.query('A>B')

   A  B  C C
4  5  2    6

df = pd.DataFrame()

In [8]:
df[df.A>df.B]

   A  B  C C
4  5  2    6